.signup-background {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    /*background-image: url('../../../public/backgrounds/urban_light.jpg'); /* Light urban texture or image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-paper {
    padding: 2rem;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9); /* Near white with transparency */
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.signup-field, .signup-button, .signup-message {
    margin: 1rem 0;
    width: 100%;
}
