.property-details-background {
    height: 100vh;
    /*background-image: url('../../../public/backgrounds/urban_light_building.jpg'); /* Light urban building image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.property-details-content {
    padding: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9); /* Near white with transparency */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.property-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}

/* CSS */
.property-image-sold, .property-image-rented {
    filter: grayscale(100%);
    position: relative;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    opacity: 0.5;
}
